@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #7b2cbf;
    width: 100%;
    
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #3c096c;
    border-bottom: #9d4edd;
}
header a {
    text-decoration: none;
    color: #ff9e00;
    padding: 10px;
}
h1 {
    color: #ff9100;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about{
    background-color: #3c096c;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #9d4edd;
}

.about div, h2, img, table, h3 {
    
    margin: 10px;
}
.about h2 {
    font-family: 'Twinkle Star', cursive;
    color: #ff6d00;
}
.about img {
    max-width: fit-content;
}


.section2 {
    background-color: #3c096c;
    margin: 10px;
    border: 1px solid #9d4edd;

}

ul {
    list-style-type: none;
}

 h4, h5, h6 {
    margin: 5px;
    color: #ff6d00;
}

.section2 ul, p {
    margin: 20px;
    color: #ff9e00;
}