* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #7b2cbf;
    width: 100%;
    font-family:monospace;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #240046;
}
header a {
    text-decoration: none;
    color: #ff9e00;
    padding: 10px;
}
h1 {
    color: #ff9100;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about{
    background-color: #3c096c;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.about div, h2, img, table, h3 {
    border: 1px solid #ff9100;
    margin: 10px;
}
.about img {
    max-width: fit-content;
}


.section2 {
    background-color: #3c096c;
    margin: 10px;
    border: 1px solid hotpink;

}

ul {
    list-style-type: none;
}

 h4, h5, h6 {
    margin: 5px;
    color: #ff9e00;
}